
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* height: 55px; */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 15px; */
    /* max-height: 40px; */
  }
  
  .logo img {
    height: 50px; 
  }
  
  .nav {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #444;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  