/* UserLayout.css */
.user-layout {
    position: relative;
    display: inline-block;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
  }
  
  .user-icon {
    width: 30px;
    height: 30px;
    background-color: #add8e6;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
  }
  
  .user-name {
    margin-right: 5px;
  }
  
  .dropdown-arrow {
    font-size: 10px;
  }
  
  .user-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    right: -50px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
  }
  
  .user-layout:hover .user-dropdown {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  