/* UserLayout.css */
.user-layout {
    position: relative;
    display: inline-block;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
  }
  
  .user-icon {
    width: 30px;
    height: 30px;
    background-color: #add8e6;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
  }
  
  .user-name {
    margin-right: 5px;
    font-size: 15px;
  }
  
.dropdwn-arrow {
  margin-left: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.dropdwn-arrow.open {
  transform: rotate(-135deg);
}

.user-dropdwn {
  position: absolute;
  top: 58px;
  right: -35px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 100;
}

.dropdwn-item {
  padding: 10px 20px;
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.dropdwn-item:hover {
  background-color: #f1f1f1;
}

.dropdwn-item:last-child {
  color: red;
}
