.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

   h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .nav-tabs .nav-link {
    color: #444;
    border: 1px solid transparent;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0;
  }
  
  .nav-tabs .nav-link.active {
    color: #d9534f;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
  }
  
  /* Styling for the upload box content */
  .photo-upload-box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  /* Orange text styling */
  .photo-upload-box p {
    font-weight: 600;
    margin-bottom: 20px;
    color: #ff7f00;
  }
  
  /* Styling the button */
  .photo-upload-box .btn-outline-danger {
    color: #d9534f;
    border-color: #d9534f;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .photo-upload-box .btn-outline-danger:hover {
    background-color: #d9534f;
    color: #fff;
  }
  
  /* Guidelines section */
  .photo-guidelines p {
    font-size: 0.9rem;
    color: #666;
  }
  
  .guideline-img {
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .image-guidelines {
    margin-top: 10px;
  }
  
  .image-guidelines img {
    margin-right: 10px;
  }
  
  .image-guidelines img:last-child {
    margin-right: 0;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .uploaded-image-preview {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .delete-image-button {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-image-button:hover {
    background-color: red;
  }
  
  /* CSS to make the headings non-clickable and remove hover background */
.dropdown-heading {
  
  font-weight: bold;
  background-color: #e5eaec;
  color: #000;
  pointer-events: none;
}

.dropdown-heading:hover {
  background-color: #fff !important;
}



.custom-select-dropdown option {
  font-size: 12px; /* Adjust font size for dropdown options */
  
}




/* Tooltip styling for mobile */
.tooltip-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 25px;
}

.tooltip-text {
  visibility: hidden;
  width: 400px;
  height: auto;
  background-color: #fff;
  border: 1px solid;
  font-size: 12.5px;
  color: #000;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 600%;
  bottom: -240%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.form-control{
  
    font-size: 0.8rem;
    
}



@media (max-Width:768px){
  .tooltip-text {
    max-width: 170px;
    height: auto;
    font-size: 12px !important;
  bottom: -420%;

}
.tooltip-icon {
 
  margin-left: 15px;
}

/* Adjust dropdown width */
.form-control {
  width: 100%;
  max-width: 100%;
}

/* Dropdown options */
select {
  font-size: 15px;
}

.dropdown-menu {
  width: 100%;
  max-width: 100%;
  overflow-y: auto; /* Add scroll if the dropdown is too long */
  max-height: 300px; /* Control max height */
}
}